<br>
<form *ngIf="inputFieldRanges">
  <span class="checkbox-container" [style.width.%]="100">
    X <div class="spacer"></div>
    <mat-checkbox *ngFor="let val of range(inputFieldRanges.x.min, inputFieldRanges.x.max + 1, inputFieldRanges.x.step)">
      {{val}}
    </mat-checkbox>
  </span>
  <mat-form-field>
    <input matInput placeholder="Y (number between {{inputFieldRanges.y.min}} and {{inputFieldRanges.y.max}})"
           type="number"
           [min]="inputFieldRanges.y.min"
           [max]="inputFieldRanges.y.max"
           step="any"
    />
  </mat-form-field>

  <span class="checkbox-container" [style.width.%]="100">
    R <div class="spacer"></div>
    <mat-checkbox  *ngFor="let val of range(inputFieldRanges.r.min, inputFieldRanges.r.max + 1, inputFieldRanges.r.step)">
      {{val}}
    </mat-checkbox>
  </span> <br>
</form>
