:host {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.space-filler {
  flex: 1 1 auto;
}

.app-container {
  flex: 1;
}

::ng-deep mat-tab-header {
  align-self: center;
}

