<h1 mat-dialog-title>Add new queries</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Input form">
      <app-input-form [inputFieldRanges]="dialogData.inputFieldRanges" #inputForm></app-input-form>

      <button mat-raised-button color="primary"
              [mat-dialog-close]="inputForm.generateQueries()"
              [disabled]="inputForm.hasError()"
      >
        Adding {{ inputForm.getNumberOfQueries() }} query(es).
      </button>
      <button mat-button color="primary" [mat-dialog-close]="">Cancel</button>
    </mat-tab>
    <mat-tab label="Interactive input">
      <div class="align-center">
        Click to add 1 new query.
      </div>
      <app-interactive-input [inputFieldRanges]="dialogData.inputFieldRanges"
                             (new-query)="dialog.close([$event])"
      ></app-interactive-input>

      <button mat-button color="primary" [mat-dialog-close]="">Cancel</button>
    </mat-tab>
  </mat-tab-group>
</div>

