:host {
  display: flex;
}

:host > * {
  margin-left: 16px;
}

:host > :last-child {
  margin-right: 16px;
}

:host-context(.mobile) > * {
  margin: 0;
}

:host-context(.mobile) {
  flex-direction: column;
  justify-content: center;
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
}

#add-query-button {
  position: sticky;
  bottom: 10px;
  margin-top: 20px;
  z-index: 100;
}

tr {
  transition: background ease 0.2s;
}

tr:hover {
  background: #e5e5e5;
}

tr.selected, tbody tr.selected:hover {
  background: #c1e8f0;
}

.result-box {
  border-radius: 3px;
  display: inline;
  padding: 0 4px;
}

.result-box.hit {
  background: var(--hit-color);
}

.result-box.hit:after {
  content: "Hit";
}

.result-box.not-hit {
  background: var(--not-hit-color);
}

.result-box.not-hit:after {
  content: "Not hit";
}

:host-context(.mobile) .header-cell {
  top: calc(var(--area-pic-height) + var(--card-padding) * 2) !important;  /* sadly that I need to override the value set by angular */
}

#area-pic {
  height: var(--area-pic-height);
  width: var(--area-pic-height);
  padding: var(--card-padding);
  position: sticky;
  top: 0;
  z-index: 200;
}

:host-context(.mobile) #area-pic {
  width: 100%;
}

:host {
  --area-pic-height: 300px;
  --card-padding: 16px;
}

:host-context(.mobile) {
  --area-pic-height: 200px;
}

