<mat-toolbar id="app-header-bar" color="primary">
  <h1>Pip lab 4</h1>
  <span class="space-filler"></span>

  <button mat-flat-button color="basic" (click)="doLogout()" [disabled]="isLoggingOut">Logout</button>
</mat-toolbar>

<div id="content">
  <mat-card id="area-pic" >
    <app-checking-area-pic [parameter-r]="selectedQuery.r"
                           dom-size="100%"
                           [color]="selectedQuery.result ? getCSSVariable('--hit-color') : getCSSVariable('--not-hit-color')"
    >
      <svg:circle [attr.cx]="selectedQuery.x" [attr.cy]="selectedQuery.y" r="0.3" fill="cyan" [style.transition]="'all ease 0.2s'"/>
    </app-checking-area-pic>
  </mat-card>

  <div class="table-container">
    <mat-card>
      <table mat-table [dataSource]="data">
        <ng-container matColumnDef="show-button">
          <th mat-header-cell *matHeaderCellDef class="header-cell"></th>
          <td mat-cell *matCellDef="let query">
            <button mat-button color="primary" (click)="showRow(query)">Show</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef class="header-cell">X</th>
          <td mat-cell *matCellDef="let query"> {{query.x.toFixed(3)}} </td>
        </ng-container>

        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Y</th>
          <td mat-cell *matCellDef="let query"> {{query.y.toFixed(3)}} </td>
        </ng-container>

        <ng-container matColumnDef="r">
          <th mat-header-cell *matHeaderCellDef class="header-cell">R</th>
          <td mat-cell *matCellDef="let query"> {{query.r.toFixed(3)}} </td>
        </ng-container>

        <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Result</th>
          <td mat-cell *matCellDef="let query">
            <div [ngClass]="['result-box', query.result ? 'hit' : 'not-hit']"></div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayingColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let currentRow; columns: displayingColumns"
            [ngClass]="this._selectedQuery?.id === currentRow.id ? 'selected' : ''">
        </tr>
      </table>
    </mat-card>

    <button id="add-query-button"
            mat-raised-button color="primary"
            (click)="showAddQueryDialog()"
            [disabled]="isLoggingOut"
    >
      + Add new query
    </button>
  </div>
</div>
