:host {
  display: flex;
  /*overflow: auto;*/
  /*position: sticky;*/
}

:host-context(.mobile) {
  flex-direction: column;
  justify-content: center;
}

.table-container {
  flex-grow: 1;
}

table {
  width: 100%;
}

tr {
  transition: background ease 0.2s;
}

tr:hover {
  background: #e5e5e5;
}

tr.selected, tbody tr.selected:hover {
  background: #c1e8f0;
}

.result-box {
  border-radius: 3px;
  display: inline;
  padding: 0 4px;
}

.result-box.hit {
  background: var(--hit-color);
}

.result-box.hit:after {
  content: "Hit";
}

.result-box.not-hit {
  background: var(--not-hit-color);
}

.result-box.not-hit:after {
  content: "Not hit";
}

