<br>
<div class="container align-center" *ngIf="inputFieldRanges" [style.flexDirection]="'column'">
  <app-checking-area-pic id="pic"
                         [parameter-size]="inputFieldRanges.r.max + 1"
                         [style.cursor]="'crosshair'"
                         [dom-size]="'100%'"
                         [parameter-r]="parameterR"
                         (user-coordinates-input)="onClickEventEmitter.emit({x: $event.x, y: $event.y, r: +parameterR})"
  >
  </app-checking-area-pic><br>
  <span>
    R:
    <mat-slider [min]="inputFieldRanges.r.min" [max]="inputFieldRanges.r.max" [step]="0.01" thumbLabel
                   [(value)]="parameterR"

    ></mat-slider>
  </span>
</div>


